body{
    font: 20px, Arial, sans-serif;
}
.navbar{
    background-color: #ffffff;
}

.quem-somos{
    background-color: #5b15b6;
    padding: 35px;
}
.margin{
    padding-top: 15px;
    padding-top: 10px;
    
  
}
.parceiros{
    background-color:#fdfdfd;
}