body{
    font: 20px, Arial, sans-serif;
    max-width: 100%;
}
.navbar{
    background-color: #ffffff;
}

.quem-somos{
    background-color: #5b15b6;
    padding: 35px;
}
.margin{
    padding-top: 15px;
    padding-top: 5px;
    
  
}
.parceiros{
    background-color:#fdfdfd;
}
.bg-footer{
    background-color: #000000;
    color: white;
   
}